<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Streamwall control</title>
  </head>
  <body>
    <script
      src="control.js"
      type="module"
      id="main-script"
      data-ws-endpoint="<%= wsEndpoint %>"
      data-role="<%= role %>"
      crossorigin
    ></script>
  </body>
</html>
